<app-mesaje-validacion [mensaje]="mensaje" [esExito]="esExito"></app-mesaje-validacion>

<section class="container mt-5 mb-5">
    <h1 class="page-titulo text-center mb-3">Crear Producto</h1>
    <p class="text-center text-muted">Ingrese la información del producto para registrarlo</p>

    <div id="contenedor-form-crear-producto" class="d-flex justify-content-center">
        <form #formularioProductoNuevo="ngForm" (ngSubmit)="crearNuevoProducto(formularioProductoNuevo)"
            class="p-4 border rounded shadow-lg bg-white w-100" style="max-width: 600px;">

            <!-- Nombre y Precio -->
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Nombre del Producto</label>
                    <input type="text" [(ngModel)]="producto.nombre" name="nombre" class="form-control"
                        placeholder="Ej: Mouse" required #nombreRef="ngModel">
                    <div *ngIf="nombreRef.invalid && nombreRef.touched" class="text-danger mt-1">
                        El nombre es obligatorio.
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Precio</label>
                    <input type="text" [(ngModel)]="producto.precio" name="precio" class="form-control"
                        placeholder="Ej: 500" required #precioRef="ngModel">
                    <div *ngIf="precioRef.invalid && precioRef.touched" class="text-danger mt-1">
                        El precio es obligatorio.
                    </div>
                </div>
            </div>

            <!-- Marca y Modelo -->
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Marca</label>
                    <input type="text" [(ngModel)]="producto.marca" name="marca" class="form-control"
                        placeholder="Ej: Apple" required #marcaRef="ngModel">
                    <div *ngIf="marcaRef.invalid && marcaRef.touched" class="text-danger mt-1">
                        La marca es obligatoria.
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label fw-bold">Modelo</label>
                    <input type="text" [(ngModel)]="producto.modelo" name="modelo" class="form-control"
                        placeholder="Ej: A1657L" required #modeloRef="ngModel">
                    <div *ngIf="modeloRef.invalid && modeloRef.touched" class="text-danger mt-1">
                        El modelo es obligatorio.
                    </div>
                </div>
            </div>

            <!-- Stock y Conficion-->
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-label fw-bold">Stock</label>
                    <input type="text" [(ngModel)]="producto.stock" name="stock" class="form-control"
                        placeholder="Ej: 10" required #stockRef="ngModel">
                    <div *ngIf="stockRef.invalid && stockRef.touched" class="text-danger mt-1">
                        La cantidad es obligatoria.
                    </div>
                </div>


                <div class="col-md-6">
                    <label for="condicion" class="form-label fw-bold">Condición </label>
                    <select id="condicion" [(ngModel)]="producto.condicion" name="condicion" class="form-select"
                        required #condicionRef="ngModel">
                        <option value="" disabled selected>Eliga la condicion</option>
                        <option [ngValue]="item.toLowerCase()" *ngFor="let item of condicionSelect">{{ item }}</option>
                    </select>
                    <div *ngIf="condicionRef.invalid && condicionRef.touched" class="text-danger mt-1">
                        La condición es obligatoria.
                    </div>
                </div>

            </div>

            <!-- Imagen -->
            <div class="mt-3">
                <label for="formFile" class="form-label fw-bold">Imagen del Producto (Opcional)</label>
                <!-- <input (change)="validarSizeImagen($event)" class="form-control" accept=".jpg, .jpeg, .png" type="file"
                    id="formFile" name="imagen"> -->
                <input (change)="productoService.validarSizeImagen($event)" class="form-control"
                    accept=".jpg, .jpeg, .png" type="file" id="formFile" name="imagen">
                <div *ngIf="errorImagen" class="text-danger mt-1">La imagen debe ser menor a 10MB.</div>
            </div>

            <!-- Categoría -->
            <div class="mt-3">
                <label for="categoria" class="form-label fw-bold">Seleccione una categoría (Solo se muestran las
                    categorías activas)
                </label>
                <select id="categoria" [(ngModel)]="producto.categoria" name="categoria" class="form-select"
                    #categoriaRef="ngModel" required>
                    <option [ngValue]="null" disabled selected>Seleccione una categoría</option>
                    <option *ngFor="let item of categoriaActivas" [ngValue]="item">{{ item.nombre }}</option>
                </select>
                <div *ngIf="categoriaRef.invalid && categoriaRef.touched" class="text-danger mt-1">
                    La Categoria es obligatorio.
                </div>
            </div>

            <!-- Botón -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary ps-4 pe-4" [disabled]="formularioProductoNuevo.invalid">
                    <i class="bi bi-plus-circle"></i> Crear Producto
                </button>
            </div>

        </form>
    </div>
</section>