<app-mesaje-validacion [mensaje]="mensaje" [esExito]="esExito"></app-mesaje-validacion>
<ng-container *ngIf="!e500; else errorTemplate">

    <section id="contenedor-productos-desactivados" class="container">
        <app-loading *ngIf="cargando"></app-loading>
        <ng-container *ngIf="!cargando">
            <h1 class="page-titulo text-center mb-3">Productos</h1>
            <p class="text-center text-muted">Todos estos productos estan Activos.</p>

            <div id="contenedor-filtros-ventas" class="row mb-4 mt-4">
                <form (ngSubmit)="buscador()" class="row g-3 align-items-end">
                    <div class="col-12 text-left">
                        <h5 class="text-dark mb-2">Buscar producto por nombre, modelo, marca o categoría</h5>
                    </div>
                    <!-- Filtro -->
                    <div class="col-md-10">
                        <!-- <label class="form-label fw-bold">Seleccionar Mes</label> -->
                        <input type="text" [(ngModel)]="filtroTemporal" name="filtroTemporal"
                            placeholder="Ingrese datos de búsqueda" class="form-control">

                    </div>
                    <!-- Botón Filtrar -->
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-search"></i> Buscar
                        </button>
                    </div>
                </form>
            </div>
            
            <div class="tabla-contenedor scroll-tabla">
                <table class="table table-bordered table-hover text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">stock</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                            <th scope="col" colspan="4">Accioones</th>
                        </tr>
                    </thead>
                    <tbody id="t-body">
                        <tr *ngFor="let producto of productosActivados; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.marca}}</td>
                            <td>{{producto.modelo}}</td>
                            <td>{{producto.categoria?.nombre}}</td>
                            <td>{{producto.stock === 0 ? "Agotado" : producto.stock}}</td>
                            <td>S/ {{producto.precio | number:'1.2-2'}}</td>
                            <td><img (click)="productosService.verImagenGrande(producto.imagen)" class="img-table"
                                    [src]="producto.imagen || 'assets/no-imagen.jpg'" alt="" style="cursor: zoom-in;">
                            </td>
                            <td><i (click)="productoSeleccionado(producto)" class="bi bi-pencil-square accion-iconos text-primary"
                                    data-bs-toggle="modal" data-bs-target="#modalActualizarProducto" title="Editar"></i>
                            </td>
                            <td>
                                <!-- <button (click)="desactivarProducto(producto.idProducto, producto.nombre)"
                                    class="btn btn-danger">Desactivar</button> -->
                                <i class="bi bi-toggle2-off accion-iconos text-danger" title="Desactivar"
                                    (click)="desactivarProducto(producto.idProducto, producto.nombre)"></i>
                            </td>
                            <td>

                                <i (click)="ponerStockCero(producto.idProducto, producto.nombre, $event)"
                                    class="bi bi-box-seam-fill accion-iconos text-success" title="Stock 0"></i>
                            </td>
                            <td>
                                <i (click)="eliminarProducto(producto.idProducto, producto.nombre)"
                                    class="bi bi-trash text-danger accion-iconos" title="Eliminar"></i>
                            </td>

                        </tr>

                    </tbody>

                </table>
                <div *ngIf="ceroProductosFiltrados" class="alert alert-warning text-center mt-3">
                    No se encontraron productos con ese criterio de búsqueda.
                </div>

            </div>
        </ng-container>
    </section>

    <!-- -------------------------MODAL IMAGEN------------ -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="contendor-modal modal-content bg-transparent border-0">
                <div class="modal-header border-0">
                    <button type="button" class="btn-close cerrar-imagen-grande" data-bs-dismiss="modal"
                        aria-label="Cerrar"></button>
                </div>
                <div class="contenedor-imagen text-center">
                    <img [src]="productosService.imagenGrande" class="img-fluid" alt="Imagen Producto" />
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------------MODAL ACTUALIZAR------------ -->
    <div class="modal fade" id="modalActualizarProducto" tabindex="-1" aria-labelledby="modalActualizarProducto"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #formularioCategoriaNuevo="ngForm" (ngSubmit)="actualizarProduto()"
                        class="p-4 border rounded shadow-lg bg-white" style="max-width: 500px; width: 100%;">

                        <!-- Nombre y Precio -->
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Código (No modificable)</label>
                                <input readonly [(ngModel)]="productoActualizado.idProducto" name="idProducto"
                                    class="form-control">

                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Nombre del Producto</label>
                                <input type="text" [(ngModel)]="productoActualizado.nombre" name="nombre"
                                    class="form-control" placeholder="Ej: Mouse" required #nombreRef="ngModel">
                                <div *ngIf="nombreRef.invalid && nombreRef.touched" class="text-danger mt-1">
                                    El nombre es obligatorio.
                                </div>
                            </div>
                        </div>
                        <!-- Marca y Modelo -->
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Marca</label>
                                <input type="text" [(ngModel)]="productoActualizado.marca" name="marca"
                                    class="form-control" placeholder="Ej: Apple" required #marcaRef="ngModel">
                                <div *ngIf="marcaRef.invalid && marcaRef.touched" class="text-danger mt-1">
                                    La marca es obligatoria.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Modelo</label>
                                <input type="text" [(ngModel)]="productoActualizado.modelo" name="modelo"
                                    class="form-control" placeholder="Ej: A1657L" required #modeloRef="ngModel">
                                <div *ngIf="modeloRef.invalid && modeloRef.touched" class="text-danger mt-1">
                                    El modelo es obligatorio.
                                </div>
                            </div>
                        </div>

                        <!-- Stock y Precio -->
                        <div class="row mt-3">
                            <div class="col-md-6">

                                <label class="form-label fw-bold">Stock</label>
                                <input type="text" [(ngModel)]="productoActualizado.stock" name="stock"
                                    class="form-control" placeholder="Ej: 10" required #stockRef="ngModel">
                                <div *ngIf="stockRef.invalid && stockRef.touched" class="text-danger mt-1">
                                    La cantidad es obligatoria.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Precio</label>
                                <input type="text" [(ngModel)]="productoActualizado.precio" name="precio"
                                    class="form-control" placeholder="Ej: 500" required #precioRef="ngModel">

                                <div *ngIf="precioRef.invalid && precioRef.touched" class="text-danger mt-1">
                                    El precio es obligatorio.
                                </div>
                            </div>
                        </div>

                        <!-- Imagen -->
                        <div class="mt-3">
                            <label for="formFile" class="form-label fw-bold">Imagen del Producto</label>
                            <input (change)="productosService.validarSizeImagen($event)" class="form-control"
                                accept=".jpg, .jpeg, .png" type="file" id="formFile" name="imagen">
                            <div *ngIf="errorImagen" class="text-danger mt-1">La imagen debe ser menor a 10MB.</div>
                        </div>
                        <!-- CATEGORIA -->

                        <div class="mt-3" *ngIf="categoriaSelect.length > 0">
                            <label for="categoria" class="form-label fw-bold">Seleccione una categoría (Solo se muestran las
                                categorías activas)</label>
                            <select id="categoria" [(ngModel)]="productoActualizado.categoria!.idCategoria"
                                name="categoria" class="form-select" required>
                                <option [ngValue]="null" disabled selected>Seleccione una categoría</option>
                                <option *ngFor="let item of categoriaSelect" [ngValue]="item.idCategoria">{{ item.nombre
                                    }}</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</ng-container>

<ng-template #errorTemplate>
    <app-error-servidor></app-error-servidor>
</ng-template>


<!-- <app-loading *ngIf="cargando"></app-loading> -->