<app-mesaje-validacion [mensaje]="mensaje" [esExito]="esExito"></app-mesaje-validacion>
<app-loading *ngIf="cargando"></app-loading>
<app-error-servidor *ngIf="e500"></app-error-servidor>


<section id="contenedor-productos-desactivados" class="container">
    <h1 class="page-titulo text-center mb-3">Productos</h1>

    <p class="text-center text-muted">Todos estos productos estan Activos.</p>

    <div id="contenedor-filtros-ventas" class="row mb-4">

        <form (ngSubmit)="buscador()" class="row g-3 align-items-end">
            
            <!-- Filtro de Mes -->
            <div class="col-md-10">
                <!-- <label class="form-label fw-bold">Seleccionar Mes</label> -->
                <input type="text" [(ngModel)]="filtroTemporal" name="filtroTemporal" placeholder="Ingrese un  Nombre, Modelo o Marca"
                    class="form-control">

            </div>


            <!-- Botón Filtrar -->
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-search"></i> Buscar
                </button>
            </div>
        </form>


    </div>







    <div class="tabla-contenedor" *ngIf="!cargando">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">stock</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Desactivar</th>
                </tr>
            </thead>
            <tbody id="t-body">
                <tr *ngFor="let producto of productosActivados; let i= index">
                    <td>{{i+1}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.marca}}</td>
                    <td>{{producto.modelo}}</td>
                    <td>{{producto.stock}}</td>
                    <td>S/ {{producto.precio | number:'1.2-2'}}</td>
                    <td><img class="img-table" [src]="producto.imagen || 'assets/no-imagen.jpg'" alt=""></td>


                    <td><i class="bi bi-pencil-square accion-iconos" title="Editar"></i></td>
                    <td><button (click)="desactivarProducto(producto.idProducto, producto.nombre)"
                            class="btn btn-danger">Desactivar</button></td>
                </tr>

            </tbody>

        </table>
        <div *ngIf="ceroProductosFiltrados" class="alert alert-warning text-center mt-3">
            No se encontraron productos con ese criterio de búsqueda.
        </div>

    </div>

</section>

<!-- <app-loading *ngIf="cargando"></app-loading> -->