<img (click)="productosService.verImagenGrande('assets/no-imagen.jpg')" class="img-table" src='assets/no-imagen.jpg'
    alt="" style="cursor: pointer; width: 50px; height: 50px">
<!-- Modal para mostrar la imagen en grande -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-header border-0">
                <!-- Ícono de cierre en la esquina -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <img src="assets/no-imagen.jpg" class="img-fluid" alt="Imagen Producto" />
            </div>
        </div>
    </div>
</div>

<app-mesaje-validacion [mensaje]="mensaje" [esExito]="esExito"></app-mesaje-validacion>
<ng-container *ngIf="!e500; else errorTemplate">

    <section id="contenedor-productos-desactivados" class="container">
        <app-loading *ngIf="cargando"></app-loading>
        <ng-container *ngIf="!cargando">
            <h1 class="page-titulo text-center mb-3">Productos</h1>
            <p class="text-center text-muted">Todos estos productos estan Activos.</p>

            <div id="contenedor-filtros-ventas" class="row mb-4">

                <form (ngSubmit)="buscador()" class="row g-3 align-items-end">

                    <!-- Filtro de Mes -->
                    <div class="col-md-10">
                        <!-- <label class="form-label fw-bold">Seleccionar Mes</label> -->
                        <input type="text" [(ngModel)]="filtroTemporal" name="filtroTemporal"
                            placeholder="Ingrese un  Nombre, Modelo o Marca" class="form-control">

                    </div>


                    <!-- Botón Filtrar -->
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="bi bi-search"></i> Buscar
                        </button>
                    </div>
                </form>


            </div>
            <div class="tabla-contenedor scroll-tabla">
                <table class="table table-bordered table-hover text-center">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">stock</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                            <th scope="col" colspan="4">Accioones</th>
                        </tr>
                    </thead>
                    <tbody id="t-body">
                        <tr *ngFor="let producto of productosActivados; let i= index">
                            <td>{{i+1}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.marca}}</td>
                            <td>{{producto.modelo}}</td>
                            <td>{{producto.categoria.nombre}}</td>
                            <td>{{producto.stock === 0 ? "Agotado" : producto.stock}}</td>
                            <td>S/ {{producto.precio | number:'1.2-2'}}</td>
                            <!-- <td><img (click)="verImagenGrande(producto.imagen)" class="img-table"
                                    [src]="producto.imagen || 'assets/no-imagen.jpg'" alt=""></td>
 -->

                            <td><i class="bi bi-pencil-square accion-iconos" title="Editar"></i></td>
                            <td><button (click)="desactivarProducto(producto.idProducto, producto.nombre)"
                                    class="btn btn-danger">Desactivar</button></td>
                            <td>
                                <i (click)="eliminarProducto(producto.idProducto, producto.nombre)"
                                    class="bi bi-trash text-danger accion-iconos" title="Eliminar"></i>
                            </td>

                        </tr>

                    </tbody>

                </table>
                <div *ngIf="ceroProductosFiltrados" class="alert alert-warning text-center mt-3">
                    No se encontraron productos con ese criterio de búsqueda.
                </div>

            </div>
        </ng-container>
    </section>
</ng-container>

<ng-template #errorTemplate>
    <app-error-servidor></app-error-servidor>
</ng-template>


<!-- <app-loading *ngIf="cargando"></app-loading> -->