<app-mesaje-validacion [mensaje]="mensaje" [esExito]="esExito"></app-mesaje-validacion>

<ng-container *ngIf="e500; else contenido">
  <app-error-servidor></app-error-servidor>
</ng-container>

<ng-template #contenido>
  <!-- Mientras cargue, se muestra el componente de loading -->
  <ng-container *ngIf="cargando; else listaCategorias">
    <app-loading></app-loading>
  </ng-container>

  <ng-template #listaCategorias>
    <!-- Verificamos si existen categorías desactivadas en general -->
    <ng-container *ngIf="existenCategoriasDesactivadas; else sinCategoriasGlobal">
      <section id="contenedor-categorias-desactivadas" class="container">
        <h1 class="page-titulo text-center">Categorías Desactivadas</h1>

        <div class="row mb-4 mt-4">
          <form (ngSubmit)="buscarCategoriaDesactivadas()" class="row g-3 align-items-end">
            <!-- Filtro -->
            <div class="col-md-10">
              <input type="text" [(ngModel)]="filtroTemporal" name="filtroTemporal" placeholder="Buscar categoría"
                class="form-control border border-primary">
            </div>
            <!-- Botón Filtrar -->
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary w-100">
                <i class="bi bi-search"></i> Buscar
              </button>
            </div>
          </form>
        </div>

        <!-- Si la búsqueda arroja resultados, se muestra la tabla -->
        <div class="scroll-tabla" *ngIf="cDesactivadas.length > 0; else sinCoincidencias">
          <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col" colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cDesactivadas; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.idCategoria }}</td>
                <td>{{ item.nombre }}</td>
                <td>Inactivo</td>
                <td>
                  <i class="bi bi-toggle-on accion-iconos text-success" title="Activar"
                    (click)="activarCategoria(item.idCategoria, item.nombre)"></i>

                  <i class="bi bi-trash accion-iconos text-danger ms-5" title="Eliminar" data-bs-toggle="modal"
                    data-bs-target="#eliminarCategoriaDModal" (click)="categoriaSeleccionada(item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>







        <!-- Si la búsqueda no arroja resultados, se muestra este mensaje -->
        <ng-template #sinCoincidencias>
          <div *ngIf="filtro.trim() !== ''" class="alert alert-warning text-center mt-3">
            No se encontraron categorías con ese criterio de búsqueda. Inténtelo nuevamente.<br>
            Para ver todas las categorías, realice una búsqueda en blanco (sin escribir nada en el buscador).
          </div>
          <!-- Si no hay filtro aplicado pero tampoco hay resultados, no se mostrará nada aquí -->
        </ng-template>
      </section>
    </ng-container>

    <!-- Si no existen categorías desactivadas en general -->
    <ng-template #sinCategoriasGlobal>
      <section class="no-contenido text-center">
        <i class="bi bi-folder-x no-contenido-icono"></i>
        <h2>No hay categorías desactivadas</h2>
        <p>Todas las categorías están activas.</p>
      </section>
    </ng-template>



  </ng-template>
</ng-template>

<!-- MODAL ELIMINAR CATEGORIA DESACTIVADA -->
<div class="modal fade" id="eliminarCategoriaDModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Cátegoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" (ngSubmit)="eliminarCategoriaDesactivada()">
          ¿Está seguro de eliminar la categoría {{categoriaSelect.nombre}} ?
          <div class="modal-footer mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>