<section id="contenedor-categorias" class="container">
    <div class="page-titulo">
        <h1>Categorias</h1>
    </div>
    <div class="tabla-contenedor">
        <table class="table w-100">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody id="t-body">
                <tr>
                    <td>0</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><i class="bi bi-pencil-square"></i></td>
                    <td><button (click)="desactivarCategoria()" class="btn btn-danger">Desactivar</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</section>