<section id="contenedor-ventas" class="container">
    <div class="page-titulo">
        <h1>Ventas</h1>
    </div>
    <div class="tabla-contenedor">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody id="t-body">
                <tr>
                    <td>0</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>

                    <td><i class="bi bi-pencil-square"></i></td>
                    <td><button (click)="eliminarVenta()" class="btn btn-danger">Eliminar</button></td>
                </tr>
                <tr><td>1</td></tr>
            </tbody>

        </table>
    </div>
</section>