<section id="contenedor-ventas" class="container mt-4">
    <h1 class="page-titulo text-center mb-3">Ventas</h1>

    <p class="text-center text-muted">Ingrese un mes y año para poder ver los registros</p>


    <!-- Filtros de Ventas -->
    <div id="contenedor-filtros-ventas" class="row mb-4">

        <div class="col-md-5">
            <label class="form-label fw-bold">Seleccionar Mes</label>
            <select class="form-select">
                <option selected disabled>Seleccione un mes</option>
                <option *ngFor="let mes of meses">{{ mes }}</option>
            </select>
        </div>

        <div class="col-md-5">
            <label class="form-label fw-bold">Seleccionar Año</label>
            <select class="form-select" [(ngModel)]="anioActual">
                <option selected disabled>Seleccione un año</option>
                <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
            </select>

        </div>

        <!-- Botón Filtrar (Solo Diseño, sin eventos) -->
        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-primary w-100">
                <i class="bi bi-search"></i> Filtrar
            </button>
        </div>
    </div>

    <!-- Título de la Página
    <div class="page-titulo text-center mb-3">
        <h1 class="fw-bold">Ventas</h1>
    </div> -->

    <!-- Contenedor de la Tabla -->
    <div class="tabla-contenedor">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody id="t-body">
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>
                        <i class="bi bi-pencil-square text-primary accion-iconos" title="Editar" style="cursor:pointer;"></i>
                    </td>
                    <td>
                        <i class="bi bi-trash text-danger accion-iconos" title="Eliminar"></i>
                    </td>
                </tr>

                <tr class="bg-info-subtle">
                    <td colspan="5" class="fw-bold text-end">Total:</td>
                    <td class="fw-bold text-dark">s/800.00</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>