<section id="contenedor-ventas" class="container mt-4">
    <h1 class="page-titulo text-center mb-3">Ventas</h1>

    <p class="text-center text-muted">Ingrese un mes y año para poder ver los registros</p>


    <!-- Filtros de Ventas -->
    <div id="contenedor-filtros-ventas" class="row mb-4">

        <form (ngSubmit)="filtrarVentas(mes.value, anio.value)" class="row g-3 align-items-end">
            <!-- Filtro de Mes -->
            <div class="col-md-5">
                <label class="form-label fw-bold">Seleccionar Mes</label>
                <select #mes  class="form-select" name="mes">
                    <option selected disabled>Seleccione un mes</option>
                    <option *ngFor="let mes of meses" [value]="mes[1]"> {{ mes[0] }}</option>
                </select>
            </div>

            <!-- Filtro de Año -->
            <div class="col-md-5">
                <label class="form-label fw-bold">Seleccionar Año</label>
                <select #anio  class="form-select" name="anio">
                    <option selected disabled>Seleccione un año</option>
                    <option *ngFor="let anio of anios" [value]="anio">{{ anio }}</option>
                </select>
            </div>

            <!-- Botón Filtrar -->
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </form>


    </div>



    <!-- Contenedor de la Tabla -->
    <div class="tabla-contenedor">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody id="t-body">
                <tr *ngFor="let item of venta; let i= index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.documento}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.total}}</td>
                    <td>
                        <i class="bi bi-pencil-square text-primary accion-iconos" title="Editar" style="cursor:pointer;"
                            data-bs-toggle="modal" data-bs-target="#modalActualizarVenta"></i>
                    </td>
                    <td>
                        <i (click)="eliminarVenta()" class="bi bi-trash text-danger accion-iconos" title="Eliminar"></i>
                    </td>
                </tr>

                <tr class="bg-info-subtle">
                    <td colspan="5" class="fw-bold text-end">Total:</td>
                    <td class="fw-bold text-dark"> S/ {{ totalVentas | number:'1.2-2' }}</td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- --Modal -->
    <div class="modal fade" id="modalActualizarVenta" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Venta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form (ngSubmit)="actualizarVenta()" #formularioNuevaVenta="ngForm"
                        class="mb-4 p-4 border rounded shadow-lg bg-white mx-auto"
                        style="max-width: 600px; width: 100%;">

                        <!-- Campo Id y Metodo de Pago -->
                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Código de la Venta</label>
                                <input type="text" readonly name="Id" value="50" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fw-bold">Método de Pago</label>
                                <select class="form-select">
                                    <option selected>Seleccione</option>
                                    <option value="efectivo">Efectivo</option>
                                    <option value="plin">Plin</option>
                                    <option value="tarjeta">Tarjeta</option>
                                    <option value="yape">Yape</option>
                                </select>
                            </div>
                        </div>

                        <!-- Campo Nombre y Documento -->
                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Nombre del Comprador</label>
                                <input type="text" name="nombre" class="form-control" placeholder="Ej: Dante Alighieri">
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fw-bold">Documento (Opcional)</label>
                                <input type="text" name="documento" class="form-control" placeholder="Ej: DNI o RUC">
                            </div>
                        </div>

                        <!-- Campo Total y Fecha -->
                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">Fecha</label>
                                <input type="date" name="fecha" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <label class="form-label fw-bold">Total</label>
                                <input type="text" step="0.01" name="total" class="form-control"
                                    placeholder="Ej: 150.00">
                            </div>
                        </div>

                        <!-- Campo Descripción -->
                        <div class="mb-3">
                            <label class="form-label fw-bold">Descripción de la Venta</label>
                            <textarea name="descripcion" class="form-control" rows="3"
                                placeholder="Ej: Venta de productos electrónicos"></textarea>
                        </div>

                        <!-- Botones -->
                        <div class="text-end">
                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</section>