<section id="contenedor-productos-desactivados" class="container">
    <div class="page-titulo">
        <h1 class="page-titulo text-center mb-3">Productos Desactivados</h1>

        <p class="text-center text-muted">Aquí se muestran todos los productos que actualmente están inactivos.</p>

    </div>
    <div class="tabla-contenedor">
        <table class="table table-bordered table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Activar</th>
                </tr>
            </thead>
            <tbody id="t-body">
                <tr>
                    <td>0</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td>xxx</td>
                    <td><button (click)="activarProducto()" class="btn btn-danger">Activar</button></td>
                </tr>
            </tbody>

        </table>
    </div>
</section>
<!-- <app-loading></app-loading> -->

<!-- <section *ngIf="cDesactivadas.length === 0 && !cargando" class="no-contenido ">
    <i class="bi bi-folder-x no-contenido-icono"></i>
    <h2 class="text-muted">No hay categorías desactivadas</h2>
    <p class="text-muted">¡Todas las categorías están activas! 🎉</p>
</section> -->